spring:
  application:
    name: tech-challenge
  datasource:
    url: jdbc:h2:mem:localtech
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql